/* font */

html,
body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #FFFFFF;
}
/* font */


/* grid layout */



@media (min-width:768px) {
	.grid-main {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 100%
	}
	.grid-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		width: none
	}
	.column-1,.columns-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		width: 8.333333%;
	}
	.columns-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		width: 16.666667%;
	}
	.columns-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		width: 25%;
	}
	.columns-4 {
		flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		width: 33.333333%;
	}
	.columns-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		width: 41.666667%
	}
	.columns-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		width: 50%
	}
	.columns-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		width: 58.333333%
	}
	.columns-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		width: 66.666667%
	}
	.columns-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		width: 75%
	}
	.columns-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		width: 83.333333%
	}
	.columns-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		width: 91.666667%
	}
	.columns-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		width: 100%;
	}
	/* Offset */
	.grid-offset-0 {
		margin-left: 0
	}
	.grid-offset-1 {
		margin-left: 8.333333%
	}
	.grid-offset-2 {
		margin-left: 16.666667%
	}
	.grid-offset-3 {
		margin-left: 25%
	}
	.grid-offset-4 {
		margin-left: 33.333333%
	}
	.grid-offset-5 {
		margin-left: 41.666667%
	}
	.grid-offset-6 {
		margin-left: 50%
	}
	.grid-grid-offset-7 {
		margin-left: 58.333333%
	}
	.grid-offset-8 {
		margin-left: 66.666667%
	}
	.grid-offset-9 {
		margin-left: 75%
	}
	.grid-offset-10 {
		margin-left: 83.333333%
	}
	.grid-offset-11 {
		margin-left: 91.666667%
	}
}

/* End of grid layout */

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.card-container {
	background-color: #FFFFFF;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	/* width: auto; */
	width: 230px;
	height: auto;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

/* Light Bulb */

.element-header-background {
	height: 34px;
	background: #4392F1;
	border-radius: 5px 5px 0px 0px;
}

.element-topic {
	font-size: 1.1rem;
	line-height: normal;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.bulb-components{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}
.bulb-switch{
	padding: 20px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.bulb-switch div{
	padding: 0px 12px 0px 12px;
}
.bulb-mode{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.bulb-option-name{
	font-size: 1rem;
	color: #2C2C34;
	margin-bottom: 20px;
}
.dropdown-mode{
	margin-left: 40px;
}
#color-select{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.yellow-mode{
	cursor: pointer;
	margin-left: 28px;
	width: 23px;
	height: 23px;
	background: rgb(255, 208, 0);
	border-radius: 12.5px;
}
.red-mode{
	cursor: pointer;
	margin-left: 18px;
	width: 23px;
	height: 23px;
	background: #ff711f;
	border-radius: 12.5px;
}
.blue-mode{
	cursor: pointer;
	margin-left: 18px;
	width: 23px;
	height: 23px;
	background: rgb(53, 191, 255);
	border-radius: 12.5px;
}
.active-color{
	border: 2px solid #B9C0DA;
}
.color-item:hover{
	border: 2px solid #B9C0DA;
}

/* toggle on/off */

.switch {
	position: relative;
	display: inline-block;
	width: 78px;
	height: 19px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
    left: 4px;
	right: 0;
	bottom: 0;
    background: #EAE8EF;
    -webkit-transition: .8s;
	transition: .8s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: -1px;
	bottom: -2px;
	background: #EAE8EF;
	border: 1px solid #B9C0DA;
	border-radius: 18.5px;	-webkit-transition: .8s;
	transition: .8s;
}

input:checked+.slider {
    background: #4392F1;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(55px);
	-ms-transform: translateX(55px);
	transform: translateX(55px);
}

.on {
	display: none;
}

.on,
.off {
	color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 49%;
	left: 48%;
	font-size: 0.75rem;
}
.off{
	color: #2C2C34 !important;
}
input:checked+.slider .on {
	display: block;
}

input:checked+.slider .off {
	display: none;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* toggle on/off */
/* Slider */
input[type="range"]{
	cursor: pointer;
	width: 80%;
	height: 7px;
    margin-left: 15px;
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #4392F1),
        color-stop(0.15, #A6CEFF)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	background: #EAE8EF;
	border: 1px solid #B9C0DA;
	border-radius: 6.9px;
    height: 15px;
    width: 15px;
}
/* slider */
/* dropdown */
  .select-dropdown {
	cursor: pointer;
	position: relative;
    width: auto;
    border: 1px solid #4392F1;
    border-radius: 6.5px;
  }
  .select-dropdown select {
	cursor: pointer;
	font-size: 0.8rem;
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 300;
	padding: 0px 24px 0px 10px;
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
  }
  .select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
  }
  .select-dropdown:after {
	content: " ";
	position: absolute;
	top: 50%;
	margin-top: 0px;
	right: 8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4392F1;
  }  

/* dropdown */

/* Light Bulb */


/* Lock Styles */

.top-content-lock {
	padding-top: 10px;
	text-align: center;
	height: 160px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.lock-icon {
	width: 60%;
}

.divider {
	width: 100%;
	border: 1px solid #EBE8EF;
	border-radius: 1px;
}

.lock-flag {
	font-size: 1rem;
	color: #2c2c34;
	font-weight: 300;
}

.controls-bottom {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.door-option {
	font-size: 1rem;
	color: #2c2c34;
	padding-right: 12px;
	font-weight: 300;
}

.unlock-button {
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 78px;
	background: #4392F1;
	border-radius: 3px;
}
.lock-button {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 75px;
	background: #4392F1;
	border-radius: 3px;
}
.lock-button:hover,.unlock-button:hover{
	transform: translateY(2px);
}

.unlock-button-text {
	font-weight: 100;
	font-size: 8px;
	color: white;
	margin-top: -10px;
	padding-bottom: 2px;
}

.unlock-icon {
	width: 25px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.records-button {
	cursor: pointer;
	border: 1px solid #B9C0DA;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 8px;
	color: #666666;
	padding: 1px 4px 1px 4px;
}

.records-button-text {
	font-size: 0.5rem;
	font-weight: 300;
}
.lock-switch{
	padding: 5px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.lock-option{
	font-size: 1rem;
    color: #2c2c34;
	font-weight: 300;
	padding-bottom: 10px;
}

.pass-wrap {
	position: relative;
}

.pass {
	background: #EBE8EF;
	border: 1px solid #4392F1;
	border-radius: 3px;
	width: 60px;
	padding: 0 3px 0 3px;
	color: #2c2c34;
	font-size: 1rem;
	height: 20px;
}

.pass-view {
	cursor: pointer;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.pass-wrap i {
	padding: 13px 0px 0px 12px;
	font-size: 13px;
	color: #b9c0d9;
}

.pass-wrap:hover i {
	color: #b9c0d9;
}

*:focus {
	outline: none;
}

/* Lock Styles */


/* AC Styles */

.card-container-ac {
	background-color: #FFFFFF;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 348px;
	height: auto;
}

.ac-component {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.option-name-ac {
	font-size: 1rem;
	color: #2C2C34;
	padding-top: 10px;
}

.ac-modes {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

.ac-mode-element {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin: 11px 9px 0px 9px;
	width: 47px;
	height: 72px;
    background: linear-gradient(180deg, #006FF4 0%, #88BEFF 100%);
	border-radius: 7px;
}
.ac-mode-element:hover{
	border: 1px solid #B9C0DA;
}
.ac-mode-line {
	width: 32px;
	height: 0px;
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.ac-mode-text {
	font-size: 0.8rem;
	letter-spacing: 0.19em;
	color: #FFFFFF;
}

.mode-icon {
	width: 25px;
	height: 25px;
	padding-top: 5px;
}
.ac-fan{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    padding-bottom: 20px;
}
.fan-icon{
	cursor: pointer;
    margin: 11px 10px 0px 10px;
}
.ac-direction{
    padding-bottom: 15px;
}
.direction-auto{
	background: #4392F1;
	cursor: pointer;
    width: 68px;
    height: 23px;
    border-radius: 10.5px;
    margin-left: 25px;
    margin-right: 15px;
}
.active-direction{
    border: 2px solid #B9C0DA;
}
.ac-direction .option-name-ac{
    padding-top: unset;
}
.direction-change{
	cursor: pointer;
    width: 76px;
	height: 23px;
	box-sizing: border-box;
    border-radius: 10.5px;
}
.direction-text{
    color: white;
	text-align: center;
	border-radius: 10.5px;
}
.direction-text-change{
    border-radius: 10.5px;
    background: #EAE8EF;
    color: #2C2C34;
    text-align: center;
}

/* #ac-slider{
	padding: 10px 0px 10px 0px;
} */
.temp-type{
	margin: -12px 0px 5px 0px;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.19em;
    color: #B9C0DA;
    z-index: 4;
}
/* Radial Progress slider */
.rs-ie, .rs-edge {
    -ms-touch-action: none;
    touch-action: none;
}
.rs-control { position: relative; outline: 0 none; cursor: pointer; }
.rs-container { position: relative; }
.rs-control *, .rs-control *:before, .rs-control *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rs-animation .rs-transition
{
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.rs-bar
{
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.rs-control .rs-split .rs-path,
.rs-control .rs-overlay1,
.rs-control .rs-overlay2
{
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.rs-control .rs-overlay
{
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.rs-rounded .rs-seperator, .rs-split .rs-path {
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;
}
.rs-control.rs-error
{
    border: 1px dotted;
    text-align: center;
}
.rs-readonly {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 100;
}
.rs-disabled {
    opacity: 0.35;
}
.rs-inner-container
{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.quarter div.rs-block { height: 200%; width: 200%; }
.half.top div.rs-block, .half.bottom div.rs-block { height: 200%; width: 100%; }
.half.left div.rs-block, .half.right div.rs-block { height: 100%; width: 200%; }
.bottom > .rs-inner-container > .rs-block { top: auto; bottom: 0; }
.right .rs-inner-container > .rs-block { right: 0; }
div.rs-block { -webkit-border-radius: 1000px; border-radius: 1000px; }
.rs-block
{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 3;
}
.rs-block .rs-inner
{
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.rs-overlay { width: 50%; }
.rs-overlay1, .rs-overlay2 { width: 100%; }
.rs-overlay, .rs-overlay1, .rs-overlay2
{
    position: absolute;
    background-color: white;
    z-index: 3;
    top: 0;
    height: 50%;
}
.rs-bar
{
    display: block;
    position: absolute;
    height: 0;
    z-index: 10;
}
.rs-bar.rs-rounded {
    z-index: 5;
}
.rs-bar .rs-seperator {
    height: 0px;
    display: block;
    float: left;
}
.rs-bar:not(.rs-rounded) .rs-seperator {
    border-left: none;
    border-right: none;
}
.rs-bar.rs-start  .rs-seperator { border-top: none; }
.rs-bar.rs-end  .rs-seperator { border-bottom: none; }
.rs-bar.rs-start.rs-rounded .rs-seperator { border-radius: 0 0 1000px 1000px; }
.rs-bar.rs-end.rs-rounded .rs-seperator { border-radius: 1000px 1000px 0 0; }
.full .rs-bar, .half .rs-bar { width: 50%; }
.half.left .rs-bar, .half.right .rs-bar, .quarter .rs-bar { width: 100%; }
.full .rs-bar, .half.left .rs-bar, .half.right .rs-bar { top: 50%; }
.bottom .rs-bar { top: 0; }
.half.right .rs-bar, .quarter.right .rs-bar { right: 100%; }

.rs-handle.rs-move { cursor: pointer; }
.rs-readonly .rs-handle.rs-move { cursor: default; }
.rs-path { display: block; height: 100%; width: 100%; }
.rs-split .rs-path
{
    -webkit-border-radius: 1000px 1000px 0 0;
    border-radius: 1000px 1000px 0 0;
    overflow: hidden;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
}

/*** tooltip styles ***/
.rs-tooltip
{
    position: absolute;
    cursor: default;
    border: 1px solid transparent;
    z-index: 10;
}
.full .rs-tooltip { top: 50%; left: 50%; }
.bottom .rs-tooltip { top: 0; } 
.top .rs-tooltip { bottom: 0; }
.right .rs-tooltip { left: 0; }
.left .rs-tooltip { right: 0; }
.half.top .rs-tooltip, .half.bottom .rs-tooltip { left: 50%; }
.half.left .rs-tooltip, .half.right .rs-tooltip { top: 50%; }
.rs-tooltip .rs-input { outline: 0 none; border: none; background: transparent; }
.rs-tooltip-text { font-size: 2rem; text-align: center; }
.rs-tooltip.edit, .rs-tooltip .rs-input { padding: 5px 8px; }
.rs-tooltip.hover, .rs-tooltip.edit:hover { border: 1px solid #AAAAAA; cursor: pointer; }
.rs-readonly .rs-tooltip.edit:hover { border-color: transparent; cursor: default; }

/*** handle types ***/
.rs-handle { border-radius: 1000px; outline: 0 none; float: left; }
.rs-handle.rs-handle-square { border-radius: 0px; }
.rs-handle-dot { border: 1px solid #AAAAAA; padding: 6px; }
.rs-handle-dot:after {
    display: block;
    content: "";
    border: 1px solid #AAAAAA;
    height: 100%;
    width: 100%;
    border-radius: 1000px;
}

/*** theming - colors ***/
/* .rs-seperator { border: 1px solid #AAAAAA; } */
/* .rs-border { border: 1px solid #AAAAAA; } */
.rs-path-color { 
    background: #A6CEFF; 
}
.rs-range-color { 
    background: linear-gradient(180deg, #006FF4 6.04%, #88BEFF 100%); 
}
.rs-bg-color {
     background-color: #FFFFFF; 
    }
.rs-handle {
    background: #EAE8EF;
    border: 1px solid #B9C0DA; 
    height: 24px !important;
    width: 24px !important;
    margin: -9px -4px 0px !important;
}
.rs-handle-dot {
     background-color: #FFFFFF; 
    }
.rs-handle-dot:after {
    background: #EAE8EF;
    border: 1px solid #B9C0DA; 
}
/* Radial Progress slider */
  
/* AC Styles */

/* confirmation */
.confirm-header{
	background-color: #B9C0DA;
}
.info-message{
	color: #44444b;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 14px;
}
.popup-controls{
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.cancel-btn{
	border-radius: 5px;
    color: #6C6C6C;
    cursor: pointer;
    background: #ECE8EF;
	padding: 2px 8px;
	margin: 0px 10px;
}
.confirm-btn{
	border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    background: #4392f1;
	padding: 2px 8px;
	margin: 0px 10px;
}
/* confirmation */

/* success */

/* success */

/* error */
.error-header{
	background-color: #DC483A;
}
.error-content{
	    /* display: flex; */
		flex-direction: column;
		/* flex-wrap: nowrap; */
		/* justify-content: center; */
		align-items: center;
	}
}
/* error */